:root {
    --darkblue: #023047;
    --yellow: #ffb703;
    --skyBlue: #8ecae6;
    --blue: #219ebc;
    --orange: #fb8500;
}

.contacts-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: gray;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: var(--yellow);
}

p {
    color: var(--blue);
}

.contact-section {
    margin-bottom: 20px;
}

.contact-section h3 {
    display: flex;
    align-items: center;
    color: var(--darkblue);
}

.contact-section h3 svg {
    margin-right: 8px;
}

p {
    margin: 0;
    color: var(--darkblue);
}
.footer-container {
    background-color: var(--darkblue);
    padding: 20px;
    text-align: center;
    color: white;
}

.home-social-icons ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.home-social-icons a {
    color: white;
    font-size: 20px;
    margin: 0 8px;
    transition: color 0.3s ease;
}



.home-social-icon-instagram {
    color: whitesmoke;
    padding: 10px;
    
}

.home-social-icon-linkedin {
    color: whitesmoke;
    padding: 10px;
    
}

.home-social-icon-whatsapp {
    color:whitesmoke;
    padding: 10px;
   
}

.home-social-icon-github {
    color: var(--skyBlue);
    padding: 10px;
    
} 
.home-social-icons ul a::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.home-social-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.home-social-icons ul a {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

 .home-social-icons ul a::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--darkblue);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
} 

.home-social-icons ul a:hover::before {
    opacity: 1;
    visibility: visible;
}

.home-social-icons ul a:hover {
    color: var(--yellow);
}

.footer-container {
    background-color: gray;
    padding: 20px;
    text-align: center;
    color: #fff;
    width:100%;
}

.footer-container h3 {
    margin: 0;
}

.footer-container .home-social-icon-instagram {
    color: var(--blue);
}

.footer-container .home-social-icon-linkedin {
    color: var(#0077b5);
}

.footer-container .home-social-icon-whatsapp {
    color: #25d366;
}

.footer-container .home-social-icon-github {
    color: var(--darkblue);
}