/* .navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

.navbar {
    color: #333;
    height: 60px;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
}

.navbar.open {
    height: auto;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.navbar-links.open {
    opacity: 1;
    visibility: visible;
}

.navbar-links li {
    margin-left: 20px;
}

.nav-link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.navbar-links li a:after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #333;
    padding: 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.navbar-links li:hover a:after {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }

    .navbar-links {
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #333;
        padding: 20px;
        box-sizing: border-box;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        font-size: 20px;
    }

    .navbar-links.open {
        opacity: 1;
        visibility: visible;
        font-size: 20px;
    }

    .navbar-links li {
        margin: 10px 0;
    }
}

@media (max-width: 576px) {
    .navbar-container {
        padding: 0 10px;
    }

    .nav-link {
        font-size: 14px;
    }
} */