:root {
    --darkblue: #023047;
    --yellow: #ffb703;
    --skyBlue: #8ecae6;
    --blue: #219ebc;
    --orange: #fb8500;
}

.form-container {
    position: relative;
    /* set a minimum height so the icon stays at the top */
    min-height: 100vh;
}

.icon-container {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 1;
}

.home-icon-form {
    font-size: 2rem;
    color: var(--orange);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    height: 8rem;
}

.form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.adding-a-task-list {
    padding: 0.75rem 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.add-button {
    padding: 0.5rem 1rem;
    background-color: #00909e;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.task-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.task-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--skyBlue);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.trash-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #f44336;
}